Repository GSG-G8/p2p-money, pull requests merged in 2020-06, with the labels that each got.

#20 added file structure
  .gitignore
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/public/p2p.ico
  client/src/assets/icons/.gitignore
  client/src/assets/images/.gitignore
  client/src/components/App/index.js
  client/src/components/App/style.css
  client/src/components/Common/Footer/index.js
  client/src/components/Common/Footer/style.css
  client/src/components/Common/Header/index.js
  client/src/components/Common/Header/style.css
  client/src/components/admin/.gitignore
  client/src/components/client/.gitignore
  client/src/components/pages/admin/.gitignore
  client/src/components/pages/client/.gitignore
  client/src/components/pages/common/.gitignore
  client/src/index.js
  client/src/style.css
  client/src/utils/admin/index.js
  client/src/utils/client/index.js
  client/src/utils/index.js
  package-lock.json
  package.json
  server/app.js
  server/controllers/errors/index.js
  server/controllers/index.js
  server/controllers/middlewares/index.js
  server/controllers/routes/index.js
  server/controllers/validation/index.js
  server/database/config/build.js
  server/database/config/build.sql
  server/database/config/connection.js
  server/database/config/fakedata.sql
  server/database/queries/index.js
  server/index.js
  server/router/index.js
Labels: Done, file structure

#29 added ReadMe file
  README.md
Labels: Done, README

#31 install frontEnd and backEnd modules
  client/package-lock.json
  client/package.json
  package-lock.json
  package.json
Labels: Backend, Done, Fronted, setup

#32 add vs code settings and configuration
  .vscode/settings.json
Labels: Done, Rules, file structure, setup

#33 create travis setup file
  .travis.yml
Labels: Done, Travis, setup

#34 installed eslint and configration
  .eslintrc.js
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
  package-lock.json
  package.json
Labels: Done, Eslint Config, setup

#36 Back End Create The Express Server
  server/app.js
  server/index.js
Labels: Backend, Done

#37 added new database schema and replace MongoDB instead of postgresql
  README.md
Labels: Done, README, documentation

#47 created MongoDB connection
  .gitignore
  package-lock.json
  package.json
  server/app.js
  server/database/dbConnection.js
Labels: Backend, Done, Express, MongoDB, database, setup

#51 added admin model with fake data
  server/database/data/admin.js
  server/database/data/index.js
  server/database/models/admin.js
  server/database/models/index.js
  server/utils/validations/adminValidation.js
Labels: Backend, Done, MongoDB, database

#49 database client modules and fake clients data and validation
  server/database/data/client.js
  server/database/data/index.js
  server/database/models/client.js
  server/database/models/index.js
  server/utils/validations/clientValidation.js
Labels: Backend, Done, MongoDB, database

#56 Update client model and validation and fake data
  server/database/data/client.js
  server/database/models/client.js
  server/utils/validations/clientValidation.js
  server/utils/validations/signUpValidation.js
Labels: Backend, Done, MongoDB, database

#57 create transactions model
  server/database/models/transactions.js
Labels: Done, MongoDB, database

#59 Update readme
  README.md
Labels: Done, README, documentation

#48 Create the exchange_money table model [MongoDB]
  server/database/data/exchangeMoney.js
  server/database/models/exchangeMoney.js
  server/utils/validations/exMoneyValidation.js
Labels: Backend, Done, MongoDB, database

#62 Database | prices model & fake data
  server/database/data/index.js
  server/database/data/prices.js
  server/database/models/index.js
  server/database/models/prices.js
Labels: Backend, Done, MongoDB, database

#64 added schema image to README
  README.md
Labels: Done, README, documentation

#53 create and rest data base
  package.json
  server/database/data/index.js
  server/database/data/transactions.js
  server/database/index.js
  server/database/models/index.js
  server/database/utils/createCollection.js
  server/database/utils/index.js
  server/database/utils/resetDatabase.js
Labels: Backend, Done, MongoDB, database

#60 Create Get Client Controller
  server/app.js
  server/controllers/routes/client/getClientData.js
  server/controllers/routes/client/index.js
  server/router/client.js
  server/router/index.js
Labels: Back End Routes, Backend, Done, Express, database

#65 isClient middleware
  server/controllers/middlewares/index.js
  server/router/index.js
Labels: Back End Routes, Backend, Done, Express, client

#66 admin middleware
  server/controllers/middlewares/index.js
Labels: Back End Routes, Backend, Done, Express, admin

#70 Add test folder
  .gitignore
  __test__/queries/index.test.js
  __test__/routes/index.test.js
  package-lock.json
  package.json
  server/database/dbConnection.js
Labels: Backend, Done, Test, setup

#58 back end route sign up
  .travis.yml
  __test__/routes/index.test.js
  __test__/routes/signup.test.js
  package.json
  server/app.js
  server/controllers/auth/signup.js
  server/controllers/validation/index.js
  server/database/dbConnection.js
  server/database/index.js
  server/database/models/client.js
  server/router/auth-router.js
  server/router/index.js
  server/utils/validations/signUpValidation.js
Labels: Back End Routes, Backend, Done, Express, client

#71 Update Client Data [CLIENT]
  server/controllers/routes/client/index.js
  server/controllers/routes/client/updateClient.js
  server/router/client.js
  server/utils/validations/updateClientValidation.js
Labels: Back End Routes, Backend, Done, client, database

#73 Post New Bank account for user
  server/controllers/routes/client/addNewBank.js
  server/controllers/routes/client/index.js
  server/router/client.js
  server/utils/validations/addBankValidation.js
Labels: Back End Routes, Done, client

#74 Delete Bank Account [Client]
  server/controllers/routes/client/deleteBankAccount.js
  server/controllers/routes/client/index.js
  server/router/client.js
  server/utils/validations/deleteBankValidation.js
Labels: Back End Routes, Done, awaiting review, client

#75 logout Back-End
  __test__/routes/logout.test.js
  server/controllers/auth/logout.js
  server/router/auth-router.js
  server/router/index.js
Labels: Back End Routes, Backend, Done, Express, Test, admin, client

#79 Test Banks Routes
  __test__/routes/addBanks.test.js
  __test__/routes/deleteBanks.test.js
Labels: Back End Routes, Done, Test

#76 Back-end Route | Admin | clients
  __test__/routes/getClients.test.js
  __test__/routes/login.test.js
  package.json
  server/controllers/routes/admin/getClients.js
  server/controllers/routes/admin/index.js
  server/router/admin.js
  server/router/index.js
Labels: Back End Routes, Backend, Done, admin

#72 create get transaction route by client id
  __test__/routes/getTransactionById.test.js
  server/controllers/routes/client/addNewBank.js
  server/controllers/routes/client/getTransactionById.js
  server/controllers/routes/client/index.js
  server/router/index.js
  server/router/transaction.js
Labels: Done

#85 Error handler
  server/controllers/errors/clientError.js
  server/controllers/errors/index.js
  server/controllers/errors/serverError.js
  server/database/dbConnection.js
  server/router/index.js
Labels: Back End Routes, Backend, Done, Express

#100 commented get transactions test
  __test__/routes/addBanks.test.js
  __test__/routes/deleteBanks.test.js
  __test__/routes/getClient.test.js
  __test__/routes/getClients.test.js
  __test__/routes/getTransactionById.test.js
  __test__/routes/getTransactions.test.js
Labels: Test, Travis

#101 Alert Message Common Component
  client/src/components/Common/Alert/index.js
Labels: Done, common component

#105 added main card and icon svg for logo
  client/src/assets/icons/.gitignore
  client/src/assets/icons/icon.svg
  client/src/components/client/mainCardCurrencies/index.js
  client/src/components/client/mainCardCurrencies/style.css
Labels: Done, FrontEnd, React, React component, client, design

#106 created text input custom component
  client/src/components/Common/TextInput/index.css
  client/src/components/Common/TextInput/index.js
Labels: Done, FrontEnd, React, React component, common component

#107 Select Currency box common component
  client/src/components/Common/selectCurrency/currencies.js
  client/src/components/Common/selectCurrency/index.js
  client/src/components/Common/selectCurrency/style.css
Labels: Done, common component

#119 create footer component
  client/src/components/Common/Footer/index.js
  client/src/components/Common/Footer/style.css
Labels: Done

#109 Front End || Select Box common Component
  client/package-lock.json
  client/package.json
  client/src/components/Common/selectBox/index.js
  client/src/components/Common/selectBox/style.css
Labels: Done, FrontEnd, React, React component, common component

#122 fixed css pixel naming and file
  client/src/components/Common/TextInput/index.js
  client/src/components/Common/TextInput/style.css
Labels: Done, React, bug

#117 create common button component
  client/src/components/Common/Button/index.js
  client/src/components/Common/Button/style.css
Labels: Done, Requested Changes

#96 Typography common component
  client/public/index.html
  client/src/components/Common/Typography/index.js
  client/src/components/Common/Typography/style.css
  client/src/components/client/.gitignore
Labels: Done, FrontEnd, React, React component, common component

#111 Card latest Clients Admin Component
  client/src/components/admin/.gitignore
  client/src/components/admin/clientsCard/index.js
  client/src/components/admin/clientsCard/style.css
  server/controllers/routes/admin/getClients.js
Labels: Done, React component

#118 create admin card component
  client/src/assets/icons/addImg.svg
  client/src/assets/icons/clients.svg
  client/src/assets/icons/transactionImg.svg
  client/src/components/admin/AdminCard/index.js
  client/src/components/admin/AdminCard/style.css
Labels: Done

#125 App routes
  client/package-lock.json
  client/package.json
  client/src/components/App/index.js
  client/src/components/pages/admin/dashboard/index.js
  client/src/components/pages/admin/dashboard/style.css
  client/src/components/pages/client/Bank/index.js
  client/src/components/pages/client/Bank/style.css
  client/src/components/pages/client/Setting/index.js
  client/src/components/pages/client/Setting/style.css
  client/src/components/pages/client/Signup/index.js
  client/src/components/pages/client/Signup/style.css
  client/src/components/pages/client/Wallet/index.js
  client/src/components/pages/client/Wallet/style.css
  client/src/components/pages/common/Error404/index.js
  client/src/components/pages/common/Error404/style.css
  client/src/components/pages/common/Home/index.js
  client/src/components/pages/common/Home/style.css
  client/src/components/pages/common/Login/index.js
  client/src/components/pages/common/Login/style.css
  client/src/index.js
Labels: Done, FrontEnd, FrontEnd Routes, React, admin, client

#80 prices back end route client | admin
  __test__/queries/index.test.js
  __test__/routes/index.js
  server/app.js
  server/controllers/routes/prices/AutoUpdatePrices.js
  server/controllers/routes/prices/getPrices.js
  server/controllers/routes/prices/index.js
  server/controllers/routes/prices/updatePrices.js
  server/database/dbConnection.js
  server/database/models/prices.js
  server/router/admin.js
  server/router/index.js
Labels: Back End Routes, Backend, Done, Express, MongoDB, admin, client, database
